<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volvo.evse.evse.dao.EvseMapper">
    <resultMap id="BaseResultMap" type="com.volvo.evse.evse.model.Evse">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="EVSE_CODE" jdbcType="VARCHAR" property="evseCode"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="LOCATION_ID" jdbcType="VARCHAR" property="locationId"/>

        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <insert id="insert" parameterType="com.volvo.evse.evse.bo.EvseBo"  useGeneratedKeys="true" keyProperty="id">
        insert into evse (EVSE_CODE, STATUS,
        LOCATION_ID, CREATE_TIME, UPDATE_TIME)
        values (#{evseCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{locationId,jdbcType=INTEGER},
        now(),now())
    </insert>

    <update id="update" parameterType="com.volvo.evse.evse.model.Evse">
        update evse
        set
        UPDATE_TIME = now()
        <if test="evseCode!=null">
            ,EVSE_CODE=#{evseCode,jdbcType=VARCHAR}
        </if>
        <if test="locationId!=null">
            ,LOCATION_ID=#{locationId,jdbcType=INTEGER}
        </if>

        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateStatus" parameterType="com.volvo.evse.evse.model.Evse">
        update evse
        set
        UPDATE_TIME = now()
        ,STATUS=#{status,jdbcType=VARCHAR}

        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from evse where id=#{id} limit 1

    </select>

    <select id="query"  resultMap="BaseResultMap">
        select * from evse

        order by UPDATE_TIME desc
    </select>
</mapper>